@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

h1 {
  @apply font-inter font-semibold text-h1;
}

h2 {
  @apply font-inter font-semibold text-h2;
}

h3 {
  @apply font-inter font-semibold text-h3;
}

p {
  @apply font-inter font-normal text-p;
}

p .semibold {
  @apply font-inter font-semibold text-p;
}

p .medium {
  @apply font-inter font-medium text-p;
}

caption {
  @apply font-inter font-semibold text-caption;
}

caption .second {
  @apply font-inter font-semibold text-caption2;
}

svg path {
  fill: currentColor;
}

.normal svg {
  width: 16px;
  height: 16px;
}
